.item-picture {
    border-radius: 5px;
    width: 100%;
    height: 100%;

    &:hover {
        transform: scale(1.5);
        transition: all 0.2s ease-out;
        z-index: 5;
    }
}

.higher-index {
    z-index: 1000;
}
