<div class="container">
    <div *ngFor="let match of matches" class="match-history" [ngClass]="getStatsOfPlayer(match).win ? 'win' : 'loss'">
        <div class="color-secondary" [ngClass]="getStatsOfPlayer(match).win ? 'win-secondary' : 'loss-secondary'">
        </div>
        <div class="game-content">
            <div class="type-of-game">
                <span class="vic-los">{{getStatsOfPlayer(match).win ? 'Victory' : 'Loss'}}</span>
                {{ secondesToMinutes(match.info.gameDuration) + ' ' + match.info.gameMode + ' ' + getGameTypeName(match.info.gameMode, match.info.gameType) }}
            </div>
            <div class="infos">
                <div class="champion">
                    <img class="champion-icon" [src]="getChampionIconById(getStatsOfPlayer(match).championId)" alt="">
                    <span class="champion-name">{{ championsService.getChampionRealNameById(getStatsOfPlayer(match).championId) }}</span>
                </div>
                <div class="kda-container">
                    <span class="kda-text">{{ getStatsOfPlayer(match).kills }} / {{ getStatsOfPlayer(match).deaths }} / {{ getStatsOfPlayer(match).assists }}</span>
                    <span class="kda-ratio">{{ calcKda(getStatsOfPlayer(match)) + ' kda' }}</span> 
                </div>
                <div class="items">
                    <img *ngIf="getStatsOfPlayer(match).item0 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item0 + '.png'" alt="">
                    <img *ngIf="getStatsOfPlayer(match).item1 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item1 + '.png'" alt="">
                    <img *ngIf="getStatsOfPlayer(match).item2 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item2 + '.png'" alt="">
                    <img *ngIf="getStatsOfPlayer(match).item3 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item3 + '.png'" alt="">
                    <img *ngIf="getStatsOfPlayer(match).item4 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item4 + '.png'" alt="">
                    <img *ngIf="getStatsOfPlayer(match).item5 > 0" class="item-icon" [src]="'assets/item/' + getStatsOfPlayer(match).item5 + '.png'" alt="">
                    <span *ngIf="getStatsOfPlayer(match).item0 == 0" class="item-icon"></span>
                    <span *ngIf="getStatsOfPlayer(match).item1 == 0" class="item-icon"></span>
                    <span *ngIf="getStatsOfPlayer(match).item2 == 0" class="item-icon"></span>
                    <span *ngIf="getStatsOfPlayer(match).item3 == 0" class="item-icon"></span>
                    <span *ngIf="getStatsOfPlayer(match).item4 == 0" class="item-icon"></span>
                    <span *ngIf="getStatsOfPlayer(match).item5 == 0" class="item-icon"></span>
                </div>

                <div class="all-players">
                    <div class="team">
                        <div *ngFor="let index of [0, 1, 2, 3, 4]" class="player">
                            <div class="champion">
                                <img class="champion-icon" [src]="getChampionIconById(match.info.participants[index].championId)" alt="">
                                <div
                                    [ngStyle]="championsService.getChampionRealNameById(getStatsOfPlayer(match).championId) === championsService.getChampionRealNameById(match.info.participants[index].championId) ? {'color': '#FFD'} : {'color': '#CCC'}"
                                    class="player-name" routerLink="/" [queryParams]="{puuid: match.metadata.participants[index]}">
                                   {{ match.info.participants[index].username || championsService.getChampionRealNameById(match.info.participants[index].championId) }}
                                </div>
                            </div>
                            <div class="kda-items">
                                <span class="kda" [ngStyle]="{'margin-right': '0'}">{{ match.info.participants[index].kills }} / {{ match.info.participants[index].deaths }} / {{ match.info.participants[index].assists }}</span>
                                <div class="item-block">
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item0 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item0 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item1 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item1 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item2 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item2 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item3 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item3 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item4 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item4 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item5 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item5 + '.png'" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="divider-vertical"></span>
                    <div class="team">
                        <div *ngFor="let index of [5, 6, 7, 8, 9]" class="player">
                            <div class="kda-items">
                                <div class="item-block">
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item0 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item0 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item1 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item1 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item2 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item2 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item3 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item3 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item4 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item4 + '.png'" alt="">
                                    </div>
                                    <div class="item-icon">
                                        <img *ngIf="match.info.participants[index].item5 > 0" class="item-picture" [src]="'assets/item/' + match.info.participants[index].item5 + '.png'" alt="">
                                    </div>
                                </div>
                                <span [ngStyle]="{'margin-left': '0'}" class="kda">{{ match.info.participants[index].kills }} / {{ match.info.participants[index].deaths }} / {{ match.info.participants[index].assists }}</span>
                            </div>
                            <div class="champion">
                                <span 
                                    [ngStyle]="championsService.getChampionRealNameById(getStatsOfPlayer(match).championId) === championsService.getChampionRealNameById(match.info.participants[index].championId) ? {'color': '#FFD'} : {'color': '#CCC'}"
                                    class="player-name" routerLink="/" [queryParams]="{puuid: match.metadata.participants[index]}">
                                    {{ match.info.participants[index].username || championsService.getChampionRealNameById(match.info.participants[index].championId) }}
                                </span>
                                <img class="champion-icon" [src]="getChampionIconById(match.info.participants[index].championId)" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load More Button -->
    <div class="load">
        <button class="button" *ngIf="matches.length > 0" mat-raised-button color="primary" (click)="loadMore()">Load More</button>
    </div>
</div>
