<!-- button go to /spectator route -->
<button
    *ngIf="spectator && !isSpectatorRoute()"
    mat-raised-button
    color="primary"
    routerLink="/spectator"
    [queryParams]="{ summonerId: summonerId }"
    class="spectator-button"
>
    Get current game infos
</button>

<div class="container" *ngIf="spectator && isSpectatorRoute()">
    <div class="timer">
        {{ timestampToMinSeconds(this.date - spectator.gameStartTime) }}
    </div>
    <div class="team">
        <app-participant *ngFor="let index of [0, 1, 2, 3, 4]" class="participant" [spectator]="spectator" [index]="index" [summonerId]="summonerId"></app-participant>
    </div>
    <mat-divider></mat-divider>
    <div class="team">
        <app-participant *ngFor="let index of [5, 6, 7, 8, 9]" class="participant" [spectator]="spectator" [index]="index" [summonerId]="summonerId"></app-participant>
    </div>
</div>
