.spectator-button {
    width: 100%;
    padding: 5px;
}

.container {
    margin: auto;
    width: fit-content;
    margin-top: 10px;

    .team {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
        overflow-wrap: break-word;

        .participant {
            margin: 5px;
            background-color: #424242;
            padding: 5px;
            width: 150px;

            .participant-name {
                color: #ddd;
                cursor: pointer;
                margin-bottom: 5px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .champion {
                display: flex;
                flex-direction: row;
                align-items: center;

                .picture {
                    width: 32px;
                    height: 32px;
                    margin-right: 5px;
                    border-radius: 100%;
                }

                .champion-name {
                    font-size: 15px;
                    color: #ddd;
                }
            }
        }
    }
}