<div class="container">
    <form class="search">
        <mat-form-field appearance="fill" class="form-group">
            <mat-label>Enter LOL username</mat-label>
            <input matInput placeholder="Username" [formControl]="username" #input>
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="selectedRegion" name="region" (selectionChange)="onRegionSelected()">
                <mat-option *ngFor="let region of regionList" [value]="region.value">
                    {{region.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button">
            <button (click)="onSearch()" mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>

    <div class="infos">
        <div class="left-panel">
            <div *ngIf="summoner" class="profil">
                <div class="profil-infos">
                    <div class="player-infos">
                        <img class="player-icon" [src]="getIconById()" alt="">
                        <div class="player-name">
                            <div *ngIf="isSmurf()" class="smurf">
                                <!-- Warn Icon-->
                                <mat-icon class="icon" [ngStyle]="{'font-size': '12px'}">warning</mat-icon>
                                <span class="smurf-text">Smurf</span>
                            </div>
                            <span [ngStyle]="{'font-size': '16px'}">{{ 'Lvl: ' + summoner?.summonerLevel }}</span>
                            <span>{{ summoner?.name }}</span>
                        </div>
                    </div>
                    <div *ngIf="getRankedLeague('RANKED_SOLO_5x5') != undefined" class="rank-player">
                        <mat-divider></mat-divider>
                        <span class="league-name">Ranked Solo/Duo</span>
                        <div class="rank-infos">
                            <img [src]="'assets/Rank-Emblem/Emblem_' + lowerCaseAllNotFirstLetter(getRankedLeague('RANKED_SOLO_5x5')?.tier || '') + '.png'" alt="" class="rank-icon">
                            <div class="rank-name">
                                <div class="winrate">
                                    <span>{{ getRankedLeague('RANKED_SOLO_5x5')?.wins + '/' + getRankedLeague('RANKED_SOLO_5x5')?.losses }}</span>
                                    <span>{{ ' ' + calcWinrate(getRankedLeague('RANKED_SOLO_5x5')) + '%' }}</span>
                                </div>
                                <div>
                                    <span>{{ lowerCaseAllNotFirstLetter(getRankedLeague('RANKED_SOLO_5x5')?.tier || '') + ' ' }}</span>
                                    <span>{{ getRankedLeague('RANKED_SOLO_5x5')?.rank + ' ' }}</span>
                                    <span>{{ getRankedLeague('RANKED_SOLO_5x5')?.leaguePoints + 'LP' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="getRankedLeague('RANKED_FLEX_SR') != undefined" class="rank-player">
                        <mat-divider></mat-divider>
                        <span class="league-name">Ranked Flex</span>
                        <div class="rank-infos">
                            <img [src]="'assets/Rank-Emblem/Emblem_' + lowerCaseAllNotFirstLetter(getRankedLeague('RANKED_FLEX_SR')?.tier || '') + '.png'" alt="" class="rank-icon">
                            <div class="rank-name">
                                <div class="winrate">
                                    <span>{{ getRankedLeague('RANKED_FLEX_SR')?.wins + '/' + getRankedLeague('RANKED_FLEX_SR')?.losses }}</span>
                                    <span>{{ ' ' + calcWinrate(getRankedLeague('RANKED_FLEX_SR')) + '%' }}</span>
                                </div>
                                <div>
                                    <span>{{ lowerCaseAllNotFirstLetter(getRankedLeague('RANKED_FLEX_SR')?.tier || '') + ' ' }}</span>
                                    <span>{{ getRankedLeague('RANKED_FLEX_SR')?.rank + ' ' }}</span>
                                    <span>{{ getRankedLeague('RANKED_FLEX_SR')?.leaguePoints + 'LP' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="this.masteries" class="masteries">
                <div *ngFor="let index of [0, 1, 2, 3, 4]">
                    <div *ngIf="masteries && masteries[index]" class="mastery">
                        <img class="champion-icon" [src]="getChampionIconById(masteries[index].championId)" alt="">
                        <span>{{ masteries[index].championPoints }}</span>
                    </div>
                    <div *ngIf="masteries && masteries[index]">
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </div>
        <div class="history">
            <app-history [inputUsername]="username.value"></app-history>
        </div>
    </div>
</div>
<ng-adsense [adClient]="'ca-pub-1160435522712919'" [pageLevelAds]="true"></ng-adsense>
