.container {
    margin: 10px;
    width: calc(100% - 20px);
    display: block;

    .search {
        width: calc(80%);
        margin: auto;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;

        .form-group {
            width: calc(80%);
            margin: auto;
            padding: 10px;
        }

        .button {
            padding: 20px, 0;
            height: 50px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
        }
    }

    .infos {
        display: flex;
        justify-content: center;

        .left-panel {
            position: sticky;
            top: 10px;
            z-index: 1;
            width: fit-content;
            margin: 10px;
            height: fit-content;

            .profil {
                width: 100%;
                border-radius: 5px;
                background-color: #424242;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
                padding: 5px;
                height: fit-content;
                margin-bottom: 10px;

                .profil-infos {

                    .player-infos {
                        margin: 5px;
                        display: flex;
                        margin-bottom: 10px;

                        .smurf {
                            padding: 3px;
                            border-radius: 5px;
                            background: -webkit-linear-gradient(left, rgba(255, 82, 82, 0.3), rgba(255, 82, 82, 0.3));
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                            margin-bottom: 3px;

                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 12px;
                            }
                        }

                        .player-icon {
                            width: 75px;
                            height: 75px;
                            border-radius: 100%;
                            margin-left: 5px;
                            border: 3px solid #696969;
                        }

                        .player-name {
                            font-size: 18px;
                            color: #ddd;
                            margin-left: 5px;
                            display: flex;
                            flex-direction: column;
                            margin-top: auto;
                            margin-bottom: 3px;
                        }
                    }

                    .rank-player {
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;

                        .league-name {
                            font-size: 15px;
                            color: #ddd;
                            margin-left: 5px;
                            margin-top: 10px;
                        }

                        .rank-infos {
                            display: flex;
                            flex-direction: row;

                            .rank-icon {
                                margin-left: 10px;
                                width: 75px;
                                height: 75px;
                            }

                            .rank-name {
                                margin-top: auto;
                                margin-bottom: 5px;
                                font-size: 14px;
                                color: #ddd;
                                margin-left: 5px;
                                display: flex;
                                flex-direction: column;

                                .winrate {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .masteries {
                width: 100%;
                border-radius: 5px;
                background-color: #424242;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
                padding: 5px;
                height: fit-content;
                margin-bottom: 10px;
                height: fit-content;

                .mastery {
                    display: flex;
                    flex-direction: row;
                    padding: 5px;
                    font-size: 15px;
                    align-items: center;
                    color: #ddd;

                    .champion-icon {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        margin-left: 5px;
                        border: 1px solid #696969;
                        margin-right: 5px;
                    }
                }
            }
        }

        .history {
            max-width: calc(min(calc(75% - 10px), 1100px));
            margin: 5px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        .infos {
            flex-direction: column;

            .left-panel {
                width: calc(100% - 10px);
                margin: 5px;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;

                .masteries {
                    width: calc(100% - 10px);
                    margin: 5px;
                }

                .profil {
                    width: calc(100% - 10px);
                    margin: 5px;
                }
            }

            .history {
                width: calc(100% - 5px);
                max-width: calc(100% - 5px);
                margin-left: 5px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        .infos {
            .left-panel {
                flex-direction: column;

                .masteries {
                    width: calc(100% - 10px);
                    margin: 5px;
                }

                .profil {
                    width: calc(100% - 10px);
                    margin: 5px;
                }
            }
        }
    }
}

.ad-banner {
    display: none;
    // place 10 px from left and 200 px from top
    position: fixed;
    top: 200px;
    left: 10px;
}

@media screen and (max-width: 1800px) {
    .ad-banner {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0;
        width: calc(100% - 10px);
    }
}
